* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    border-bottom: 0.2rem solid rgb(196, 52, 160);
}

.header {
    background-color: #4b4a4a;
    display: flex;
    padding: 1.2rem;
    justify-content: space-between;
    position: sticky;
    top: 0;
    font-size: 0.8rem;
}

.header h2 {
    color: whitesmoke;
}

.header ul {
    display: flex;
    list-style-type: none;
    cursor: pointer;
}

.header ul li:hover {

    transform: scale(1.2);
}

.header ul li {
    margin-left: 1.2rem;
    font-size: 0.7rem;
}

.header a {
    text-decoration: none;
    color: white;
}

.header a {
    text-decoration: none;
    color: white;
}

ul a:nth-child(2) {
    color: rgb(196, 52, 160);
}

.subscribe {
    display: flex;
    padding: 1.5rem;
    color: rgba(255, 255, 255, 0.938);
    background-color: #4b4a4a;
    justify-content: space-between;
}

.button input,
button {
    padding: 0.2rem;

}

.button button {
    background-color: rgba(255, 68, 0, 0.808);
    color: wheat;
    border: none;
    padding: 5px;
    font-size: 13px;
    cursor: pointer;
}

.aboutUs {
    display: flex;
    flex-wrap: nowrap;
    padding: 1rem;
    gap: 2rem;

}

.main__about h5,
p {
    margin-bottom: 1rem;
    font-size: small;
}

.main__about .last {

    background-color: #4b4a4a;
    color: white;
    padding: 1rem;
}

.bottom_paragh {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.7rem;
    background-color: #4b4a4a;
    color: white;
    padding: 1rem;
    position: relative;
    bottom: 2rem;
    
}

footer {
    background-color: #4b4a4a;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

footer>p {
    font-size: 0.6rem;
    color: white;
    margin-top: 0.2rem;
}

footer>img {
    height: 2rem;
    margin-bottom: 1rem;

}